@inject TimeFormatter Formatter
<PageTitle>Hello Blazor</PageTitle>
<HeadContent>
    <meta name="description" content="Как устанавливать заголовок страницы в Blazor" />
    <meta name="updated_at" content="@DateTime.Now" />
</HeadContent>

<h2>Hello METANIT.COM</h2>
<h2>@Formatter.FormatTime()</h2>
<h2>Time: @Timer.GetTime()</h2>
<h2>Person</h2>
<div>
    <p>
        Name:<br />
        <input @bind="person.Name" />
    </p>
    <p>
        Age:<br />
        <input type="number" @bind="person.Age" />
    </p>
    <p>
        Date:<br />
        <input type="date" @bind="person.Day" />
    </p>
    <p>
        Working:<br />
        <input type="checkbox" @bind="person.Working" />
    </p>
    <p>
        Subject:<br />
        <input type="radio" name="subject" @onchange='@(()=>person.Subject = "Math")' />Math <br />
        <input type="radio" name="subject" @onchange='@(()=>person.Subject = "Programming")' />Programming
    </p>
    <p>
        Courses:<br />
        <select multiple @bind="person.Courses">
            <option value="C#">C#</option>
            <option value="JavaScript">JavaScript</option>
            <option value="C++">C++</option>
        </select>
    </p>
</div>
<hr />
<div>
    <p>Name @person.Name</p>
    <p>Age: @person.Age</p>
    <p>Day: @person.Day.ToShortDateString()</p>
    <p>Working: @person.Working</p>
    <p>Subject: @person.Subject</p>
    <p>Courses: @string.Join(", ", person.Courses)</p>
</div>
@code {
    [Inject]
    public ITimeService Timer { get; set; } = default!;
    Person person = new();

    //void Submit()
    //{
    //    Console.WriteLine($"{person.Name} - {person.Age}");
    //}
}